{% extends "base.html" %}
{% block content %}
    <a href="{{ url_for('home') }}">HOME</a> 

    <div class="search">
        <form class="form-container" method="POST">
            <h2 class="text-white form-container--title">Welcome to Web Scrapping</h2>
                    <br/>
                    <br/>
            <div class="form-inline">

                <label for="search">Search: </label>
                <input type="text" class="form-control mb-2 mr-sm-2" name="search" id="search" aria-describedby="searchHelp" placeholder="Enter text">

                <label for="num_pages">Select number of pages: </label>
                <select name="num_pages" id="num_pages">
                    <option value="1" selected>1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2" onclick="loading();">Search</button>
        </form>
    </div>
    <div>
        {% for message in get_flashed_messages() %}
            <div class="alert text-white">
            <p>{{ message }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="loader"></div>
    
{% endblock %}